body {
    background-color: #6100CC !important;
    color: white !important;
}

.container {
    max-width: 500px !important;
}

img {
    object-fit: cover;
    object-position: center;
}

.btn:disabled {
    border: none;
}


/* =====================================  */
/* Header.js */
/* =====================================  */

.header-logo img {
    max-height: 60px;
}


/* =====================================  */
/* Menu-js */
/* =====================================  */

.menu-button {
    background-color: #7900FF;
    color: white;
    border-radius: 8px;
    font-size: 30px;
    padding: 20px;
    align-items: left;
    text-align: left;
    border: none;
}

.menu-icon {
    filter: invert(100%);
    width: 60px;
    height: 60px;
    padding-right: 20px;
    object-fit: contain;
}


/* =====================================  */
/* NewGame-js */
/* =====================================  */

.playerCircle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.pointsCircle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: auto;
}

.newGameName {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newGameName p {
    text-align: center;
    margin-bottom: 0px;
}

.newGamePoints {
    width: auto;
    height: 40px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newGamePoints p {
    text-align: center;
    margin-bottom: 0px;
}

.newGameScore {
    width: 50px !important;
    height: 40px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newGameScore p {
    text-align: center;
    margin-bottom: 0px;
}

.button button {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


/* =====================================  */
/* Scoreboard.js */
/* =====================================  */


.bg-purple {
    background-color: #7900FF !important;
}

.bg-normalPurple {
    background-color: #6100CC !important;
}

.bg-darkPurple {
    background-color: #2E1230 !important;
}

.bg-silver {
    background-color: #c8c8c8;
}

.bg-silver:hover,
.bg-gold:hover,
.bg-bronze:hover {
    filter: brightness(110%);
}

.bg-silver img {
    border: 2px solid #6A6A6A;
}

.bg-bronze {
    background-color: #b5a37f;
}

.bg-bronze img {
    border: 2px solid #A25700;
}

.bg-gold {
    background-color: #fff7b3;
}

.bg-gold img {
    border: 2px solid #FFD600;
}

.btn.bg-darkPurple:hover,
a .bg-darkPurple:hover {
    background-color: #7900FF !important;
}

/* =====================================  */
/* Home.js */
/* =====================================  */

.podium-side {
    height: 180px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podium-middle {
    height: 220px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podium-middle img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}

.podium-side img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}

/* =====================================  */
/* Players.js */
/* =====================================  */
.playerBox img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

img.playerBoxIcon {
    width: 42px;
    height: 42px;
    object-fit: contain;
}

.playerButton:hover>.playerBox {
    background-color: #8d29ff !important;
}

.categoryButton:hover {
    background-color: #41008c !important;
}

/* =====================================  */
/* NewPlayer.js */
/* =====================================  */

.borderCircle {
    width: 145px;
    height: 145px;
    border-style: solid;
    border-color: #8d29ff;
}

.textBox input {
    width: 100%;
    height: 60px;
    background-color: #7900FF;
    border: none;
    color: white;
    padding-left: 15px;
    font-size: 20px;
}

.textBox input::placeholder {
    color: white;
    font-size: 20px;
}

.checkBox label {
    padding-left: 10px;
    font-size: 20px;
}

.form-radio-input {
    width: 25px !important;
    height: 25px !important;
    margin-bottom: 10px;
}

input[type="file"] {
    outline: none;
    padding: 4px;
    margin: -4px;
    color: transparent;
    transform: translateX(27%);
}

input[type="file"]:focus-within::file-selector-button,
input[type="file"]:focus::file-selector-button {
    outline: 2px solid #0964b0;
    outline-offset: 2px;
}

input[type="file"]::before {
    top: 16px;
}

input[type="file"]::after {
    top: 14px;
}

input[type="file"] {
    position: relative;
}

input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
}

input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    top: 12px;
    left: 21px;
    color: white;
    content: "Change image";
}

input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: #2E1230;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
    border-radius: 9999px;
}

input[type="file"]::file-selector-button:hover {
    background-color: #7900FF;
}

input[type="file"]::file-selector-button:active {
    background-color: #7900FF;
}

@supports (-moz-appearance: none) {
    input[type="file"]::file-selector-button {
        color: #0964b0;
    }
}


/* =====================================  */
/* PlayerProfile.js */
/* =====================================  */



/* =====================================  */
/* History.js */
/* =====================================  */

.active-shadow-bottom {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Example shadow */
    border: 0;
}

.active-border-bottom {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2) !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
  

/* =====================================  */
/* Tournament.js */
/* =====================================  */
.tournamentBox {
    border: 1px solid #2E1230;
    border-radius: 15px;
}

.tournamentBox img {
    width: 50px;
    height: 50px;
}


/* =====================================  */
/* Surprise.js */
/* =====================================  */


@keyframes scroll {
    0% {
        transform: translate3d(0, 0, 0);
    }

    90% {
        transform: translate3d(0, calc(-100% + 328px), 0);
    }

    100% {
        transform: translate3d(0, calc(-100% + 332px), 0);
    }
}

@keyframes blur {
    0% {
        filter: blur(0);
    }

    10% {
        filter: blur(0);
    }

    30% {
        filter: blur(6px);
    }

    60% {
        filter: blur(6px);
    }

    80% {
        filter: blur(0);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}