body {
    background-color: #6100CC !important;
    color: white !important;
}

.container {
    max-width: 500px !important;
}


/* =====================================  */
/* Header.js */
/* =====================================  */
.header-logo img {
    max-height: 60px;
}

.menu-button {
    background-color: #7900FF;
    color: white;
    border-radius: 8px;
    font-size: 30px;
    padding: 20px; 
    align-items: left;
    text-align: left;
    border: none;
}

.menu-icon {
    filter: invert(100%);
    width: 60px;
    height: 60px;
    padding-right: 20px;
}


/* =====================================  */
/* NewGame-js */
/* =====================================  */

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}

.newGameName {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newGameName p {
    text-align: center;
    margin-bottom: 0px;
}

.newGamePoints {
    width: 100px;
    height: 40px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newGamePoints p {
    text-align: center;
    margin-bottom: 0px;
}





/* =====================================  */
/* Scoreboard.js */
/* =====================================  */
.bg-purple {
    background-color: #7900FF !important;
}

.bg-normalPurple {
    background-color: #6100CC !important;
}

.bg-darkPurple {
    background-color: #2E1230 !important;
}

.bg-silver {
    background-color: #c8c8c8;
}

.bg-silver img {
    border: 2px solid #6A6A6A;
}

.bg-bronze {
    background-color: #b5a37f;
}

.bg-bronze img {
    border: 2px solid #A25700;
}

.bg-gold {
    background-color: #fff7b3;
}

.bg-gold img {
    border: 2px solid #FFD600;
}

/* =====================================  */
/* Home.js */
/* =====================================  */

.podium-side {
    height: 180px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podium-middle {
    height: 220px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podium-middle img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}

.podium-side img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}

/* =====================================  */
/* Players.js */
/* =====================================  */
.playerBox img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.playerButton:hover > .playerBox {
    background-color: #8d29ff !important;
}

.categoryButton:hover {
    background-color: #41008c !important;
}

/* =====================================  */
/* NewPlayer.js */
/* =====================================  */

.borderCircle{
    width: 145px;
    height: 145px;
    border-style: solid;
    border-color: #8d29ff;
}

.textBox input{
    width: 100%;
    height: 60px;
    background-color: #7900FF;
    border: none;
    color: none;
    padding-left: 15px;
    font-size: 20px;

}

.textBox input::placeholder{
    color: white;
    font-size: 20px;
}

.checkBox label{
    padding-left: 10px;
    font-size: 20px;
}

.form-radio-input {
    width: 25px !important;
    height: 25px !important;
    margin-bottom: 10px;
}

/* =====================================  */
/* PlayerProfile.js */
/* =====================================  */

#highlight, #highlight:hover, #highlight:active, #highlight:focus {
    color: white !important;
}